### Stephen Mathew
### Python Basics Programming Assignment 4
### 21-Jun-2022

Q1.	Write a Python Program to Find the Factorial of a Number?

In [2]:
def factorial(x):
	fact = 1
	for i in range(1,x+1):
		fact*=i
	return fact

print(factorial(10))
print(factorial(1))
print(factorial(2))
print(factorial(4))

3628800
1
2
24

Q2.	Write a Python Program to Display the multiplication Table?

In [4]:
def mult_table(table_of,times):
	print("Multiplication table of ",table_of)
	for i in range(1,times+1):
		print(table_of," x ", i ," = ",table_of*i)

mult_table(1,5)
mult_table(2,10)
mult_table(5, 20)

Multiplication table of  1
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
Multiplication table of  2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
Multiplication table of  5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
5  x  11  =  55
5  x  12  =  60
5  x  13  =  65
5  x  14  =  70
5  x  15  =  75
5  x  16  =  80
5  x  17  =  85
5  x  18  =  90
5  x  19  =  95
5  x  20  =  100

Q3.	Write a Python Program to Print the Fibonacci sequence?

In [6]:
def fibo(length):
	x, y =0, 1
	for i in range(0, length):
		print(x, end=" ")
		x, y = y, x+y 

fibo(10)

0 1 1 2 3 5 8 13 21 34

Q4.	Write a Python Program to Check Armstrong Number?

In [15]:

def armstrong(num, order):
	arm_num = 0
	for i in str(num):
		arm_num += int(i)**order
	
	if num == arm_num:
		return True
	else:
		return False

print(armstrong(153, 3))
print(armstrong(153, 4))

True
False

Q5.	Write a Python Program to Find Armstrong Number in an Interval?

In [25]:
def armstrong_int(start_num, end_num, order):
	for i in range(start_num, end_num+1):
		if armstrong(i,order)==True:
			print(i, end=" ")

armstrong_int(1,410,3)

# armstrong_int(1,155,2)

1 153 370 371 407

Q6.	Write a Python Program to Find the Sum of Natural Numbers?

In [26]:
def sum_till(num):
	sum = 0
	for i in range(1,num+1):
		sum+=i
	return sum

sum_till(10)

55