### Name - Stephen Mathew
### Date - 18-Jun-2022
### Description - Python basics (Map, Reduce, Iterator, Filter, Basic File Operations)

#### Iterator and Iterable

In [1]:
l = [1,2,3,4,5]

In [2]:
for i in l:
	print(i)

1
2
3
4
5

In [3]:
next(l)

TypeError: 'list' object is not an iterator

In [4]:
b = iter(l)

In [5]:
next(b)

1

In [6]:
next(b)

2

In [7]:
next(45)

TypeError: 'int' object is not an iterator

In [8]:
iter(45)

TypeError: 'int' object is not iterable

In [9]:
for i in 45:
	print()

TypeError: 'int' object is not iterable

In [10]:
s="sudh"

In [11]:
next(s)

TypeError: 'str' object is not an iterator

In [13]:
s = iter(s)

In [14]:
next(s)

's'

In [15]:
next(s)

'u'

In [16]:
next(s)

'd'

In [17]:
next(s)

'h'

In [18]:
next(s)

StopIteration:

In [19]:
t = (4,5,6,7)

In [20]:
next(t)

TypeError: 'tuple' object is not an iterator

In [21]:
t1 = iter(t)

In [22]:
next(t1)

4

In [23]:
next(t1)

5

#### Generator Function

In [25]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
f = lambda: [x**2 for x in range(1,10)]

f()

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
def square_fun(n):
	x = [i**2 for i in range(n)]
	return x

In [28]:
square_fun(5)

[0, 1, 4, 9, 16]

In [29]:
def square_fun1(n):
	x = [i**2 for i in range(n)]
	yield x

In [30]:
square_fun1(5)

In [31]:
list(square_fun1(5))

[[0, 1, 4, 9, 16]]

In [32]:
for i in square_fun1(5):
	print(i)

[0, 1, 4, 9, 16]

In [35]:
def fibo(n):
	l=[]
	a, b = 0, 1
	l.append(a)
	l.append(b)
	for i in range(n):
		a, b = b, a+b
		l.append(b)
	return l 

fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [38]:
def fibo1(n):
	l=[]
	a, b = 0, 1
	yield a
	yield b
	for i in range(n):
		a, b = b, a+b
		yield b
	 

for i in fibo1(10):
	print(i)

fibo1(10)

0
1
1
2
3
5
8
13
21
34
55
89

### File Operations

In [1]:
f = open("test1.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'test1.txt'

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8C5A-8CAA

 Directory of c:\Users\30185349_old\OneDrive\Dokumenter\python\DS-Bootcamp\Lessons\Python\June 18 June 19

06/20/2022  10:39 AM    <DIR>          .
06/20/2022  10:39 AM    <DIR>          ..
06/20/2022  10:39 AM            15,774 2022-Jun-18 Python basics.ipynb
06/19/2022  10:17 PM       182,443,835 iterator , generator , map , reduce , filter , basic file operation .ipynb
06/20/2022  10:39 AM                18 test.txt
               3 File(s)    182,459,627 bytes
               2 Dir(s)  144,570,834,944 bytes free

In [4]:
f =open("test1.txt", "w")

In [5]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8C5A-8CAA

 Directory of c:\Users\30185349_old\OneDrive\Dokumenter\python\DS-Bootcamp\Lessons\Python\June 18 June 19

06/20/2022  10:40 AM    <DIR>          .
06/20/2022  10:40 AM    <DIR>          ..
06/20/2022  10:40 AM            16,740 2022-Jun-18 Python basics.ipynb
06/19/2022  10:17 PM       182,443,835 iterator , generator , map , reduce , filter , basic file operation .ipynb
06/20/2022  10:39 AM                18 test.txt
06/20/2022  10:40 AM                 0 test1.txt
               4 File(s)    182,460,593 bytes
               2 Dir(s)  144,601,571,328 bytes free

In [6]:
f.write("this is my first file operation")
f.close()

In [7]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8C5A-8CAA

 Directory of c:\Users\30185349_old\OneDrive\Dokumenter\python\DS-Bootcamp\Lessons\Python\June 18 June 19

06/20/2022  10:40 AM    <DIR>          .
06/20/2022  10:40 AM    <DIR>          ..
06/20/2022  10:44 AM            17,927 2022-Jun-18 Python basics.ipynb
06/19/2022  10:17 PM       182,443,835 iterator , generator , map , reduce , filter , basic file operation .ipynb
06/20/2022  10:39 AM                18 test.txt
06/20/2022  10:44 AM                31 test1.txt
               4 File(s)    182,461,811 bytes
               2 Dir(s)  144,584,077,312 bytes free

In [8]:
f1 = open("test2.txt", "w")

In [9]:
f1.write("this is my second file operation")

32

In [10]:
f1.close()

In [11]:
l=[1,2,3,4,5]

In [12]:
f2 = open("test3.txt", "w")

In [13]:
f2.write(l)

TypeError: write() argument must be str, not list

In [14]:
f2.write(str(l))

15

In [15]:
f2.close()

In [16]:
f3 = open("test.steve", "w")

In [17]:
f3.write("junk text")

9

In [18]:
f3.close()

In [19]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8C5A-8CAA

 Directory of c:\Users\30185349_old\OneDrive\Dokumenter\python\DS-Bootcamp\Lessons\Python\June 18 June 19

06/20/2022  10:48 AM    <DIR>          .
06/20/2022  10:48 AM    <DIR>          ..
06/20/2022  10:48 AM            21,805 2022-Jun-18 Python basics.ipynb
06/19/2022  10:17 PM       182,443,835 iterator , generator , map , reduce , filter , basic file operation .ipynb
06/20/2022  10:48 AM                 9 test.steve
06/20/2022  10:39 AM                18 test.txt
06/20/2022  10:44 AM                31 test1.txt
06/20/2022  10:45 AM                32 test2.txt
06/20/2022  10:46 AM                15 test3.txt
               7 File(s)    182,465,745 bytes
               2 Dir(s)  144,579,002,368 bytes free

In [22]:
%%writefile test4.txt
this is my fourth file operation
this is my fourth file operation
this is my fourth file operation
this is my fourth file operation

Overwriting test4.txt

In [24]:
f = open("test4.txt")
f.read()

'this is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\n'

In [25]:
f.read()

''

In [26]:
f.seek(0)

0

In [27]:
f.read()

'this is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\n'

In [28]:
f.read()

''

In [29]:
f.seek(4)

4

In [30]:
f.read()

' is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\n'

In [31]:
f.seek(50)

50

In [32]:
f.read()

'h file operation\nthis is my fourth file operation\nthis is my fourth file operation\n'

In [33]:
f1 = open("test4.txt")

In [34]:
f1.tell()

0

In [35]:
f1.read()

'this is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\n'

In [36]:
f1.tell()

136

In [37]:
f1.read()

''

In [38]:
f1.seek(3)

3

In [39]:
f1.tell()

3

In [40]:
f1.read()

's is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\nthis is my fourth file operation\n'

In [41]:
f1.seek(5)

5

In [42]:
f1.read(15)

'is my fourth fi'

In [43]:
f2 = open ('test4.txt')

In [44]:
f2.tell()

0

In [45]:
f2.readline()

'this is my fourth file operation\n'

In [46]:
f2.readline()

'this is my fourth file operation\n'

In [47]:
f2.readline()
f2.readline()

'this is my fourth file operation\n'

In [48]:
f2.readline()

''

In [49]:
f2.tell()

136

In [50]:
f2.readlines()

[]

In [51]:
f2.seek(0)

0

In [53]:
f2.readlines()

['this is my fourth file operation\n',
 'this is my fourth file operation\n',
 'this is my fourth file operation\n',
 'this is my fourth file operation\n']

In [54]:
f2.fileno()

6

In [55]:
f2.tell()

136

In [56]:
f=open("test.txt",'w')

In [57]:
f.write("""'this is my fourth file operation\n',
 'this is my fourth file operation\n',
 'this is my fourth file operation\n',
 'this is my fourth file operation\n'""")

149

In [58]:
f.close()

In [61]:
f = open("test.txt",'w')
f.write("adding more text")

16

In [63]:
f.close()

In [64]:
f = open("test.txt",'a')

In [65]:
f.write("""'this is my fourth file operation\n',
 'this is my fourth file operation\n',
 'this is my fourth file operation\n',
 'this is my fourth file operation\n'""")

149

In [66]:
f.close()

In [67]:
f.name

'test.txt'

In [68]:
f.closed

True

In [69]:
f.mode

'a'

### Map, Reduce and Filter

In [70]:
l = [1,2,3,4,5]

In [71]:
sq = lambda l: [i**2 for i in l]

In [72]:
sq(l)

[1, 4, 9, 16, 25]

In [73]:
sing_sq = lambda x: x**2

In [74]:
map(sing_sq,l)

In [75]:
list(map(sing_sq,l))

[1, 4, 9, 16, 25]

In [76]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25]

In [77]:
list(map(lambda x:str(x),l))

['1', '2', '3', '4', '5']

In [78]:
list(map(str,l))

['1', '2', '3', '4', '5']

In [79]:
from functools import reduce

In [80]:
l = [3,4,5,6,7]

In [81]:
sum(l)

25

In [82]:
reduce(lambda x,y:x+y,l)

25

In [84]:
reduce(lambda x,y:x*y,l)

2520

In [85]:
reduce(lambda x,y:x*y,l[::-1])

2520

In [86]:
reduce(lambda x,y,z:x*y*z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [87]:
l2=[3]

In [88]:
reduce(lambda x,y:x+y,l2)

3

In [89]:
l = [3,4,5,63,7]

In [90]:
filter(lambda x:x%2==0,l)

In [91]:
list(filter(lambda x:x%2==0,l))

[4]