# Lists

In [90]:
l = [1, 2, 3, 4, 5, "sudh", 45.67, True]

In [91]:
l[0]

1

In [92]:
l[-1]

True

In [93]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [94]:
len(l)

8

In [95]:
l[0:5]

[1, 2, 3, 4, 5]

In [96]:
l[0:100]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [97]:
l[100]

IndexError: list index out of range

In [ ]:
l[0:100:2]

[1, 3, 5, 45.67]

In [ ]:
l[0:8:-1]

[]

In [ ]:
l[:3]

[1, 2, 3]

In [ ]:
l + "sudh"

TypeError: can only concatenate list (not "str") to list

In [ ]:
l + ["sudh"]

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

In [ ]:
l*2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [ ]:
"sudh" in l

True

In [ ]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
l1 = [1, 2, 3]

In [ ]:
max(l1)

3

In [ ]:
l2=["sudh","iNeuron","kumar"]

In [ ]:
max(l2)

'sudh'

In [ ]:
min(l2)

'iNeuron'

In [ ]:
l.append("kumar")

In [ ]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [ ]:
l.append([1,2,3,4])

In [ ]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', [1, 2, 3, 4]]

In [ ]:
l.pop(0)

1

In [ ]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar', [1, 2, 3, 4]]

In [ ]:
l.pop()
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kumar']

In [ ]:
l.reverse()
l

['kumar', True, 45.67, 'sudh', 5, 4, 3, 2]

In [ ]:
l.sort()

TypeError: '<' not supported between instances of 'bool' and 'str'

In [ ]:
l1.sort()
l1

[1, 2, 3]

In [ ]:
l3=[9,98,234,23,1,0]
l3.sort()
l3

[0, 1, 9, 23, 98, 234]

In [ ]:
l3.sort(reverse=True)
l3

[234, 98, 23, 9, 1, 0]

In [ ]:
l1=[2,3,4]
l2=[6,7,8]
l3=[3,2,4]
l4=[l1,l2,l3]
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

In [ ]:
l4[2][1]

2

In [ ]:
l.count(2)

1

In [ ]:
l5=[3,4,5,3,3,3]
l5.count(3)

4

In [ ]:
l4[0].append(2)

In [ ]:
l4[0].count(2)

2

In [ ]:
l.extend(45)

TypeError: 'int' object is not iterable

In [ ]:
l.extend('steve')

In [ ]:
l

['kumar', True, 45.67, 'sudh', 5, 4, 3, 2, 's', 't', 'e', 'v', 'e']

In [ ]:
l.extend([1,2,3])

In [ ]:
l

['kumar', True, 45.67, 'sudh', 5, 4, 3, 2, 's', 't', 'e', 'v', 'e', 1, 2, 3]

In [ ]:
l.index(1)

1

In [ ]:
l7 = [1,2,3,4,55,6,6,7]
l7.index(6)

5

In [ ]:
l=[1,2,3,4,5]

In [ ]:
l.append(45)
l

[1, 2, 3, 4, 5, 45]

In [ ]:
l.insert(1,[1,2,3,4])

In [ ]:
l

[1, [1, 2, 3, 4], 2, 3, 4, 5, 45]

In [ ]:
l.insert(5,"steve")

In [ ]:
l

[1, [1, 2, 3, 4], 2, 3, 4, 'steve', 5, 45]

In [ ]:
l.pop()
l

[1, [1, 2, 3, 4], 2, 3, 4, 'steve', 5]

In [ ]:
l.pop(2)
l

[1, [1, 2, 3, 4], 3, 4, 'steve', 5]

In [ ]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [ ]:
l.remove(4)

In [ ]:
l

[1, [1, 2, 3, 4], 3, 'steve', 5]

In [ ]:
l.remove(3)
l

[1, [1, 2, 3, 4], 'steve', 5]

In [ ]:
l = [1,2,3,4]

In [ ]:
l[2]

3

In [ ]:
l[2]='steve'
l

[1, 2, 'steve', 4]

In [ ]:
s="iNeuron"

In [ ]:
s[2]

'e'

In [ ]:
s[2]='s'

TypeError: 'str' object does not support item assignment

# Tuple

In [ ]:
t=(4,5,6,7,"sudh",45.67,True)

In [ ]:
type(t)

tuple

In [ ]:
t[0]

4

In [ ]:
t[::-1]

(True, 45.67, 'sudh', 7, 6, 5, 4)

In [ ]:
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
t[0:4]

(4, 5, 6, 7)

In [ ]:
t[-1]

True

In [ ]:
t[0:6:2]

(4, 6, 'sudh')

In [ ]:
t[0:4:-1]

()

In [ ]:
l = [1,2,3,456,78]

In [ ]:
l[2]="kumar"

In [ ]:
l

[1, 2, 'kumar', 456, 78]

In [ ]:
t[2]='Steve'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1=(3,4,5,6)

In [ ]:
t+t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

In [ ]:
t.count(5)

1

In [ ]:
t.index(5)

1

In [ ]:
t.index(4)

0

In [98]:
t=(3,4,56,7,"steve")

In [99]:
l7=list(t)

In [100]:
tuple(l7)

(3, 4, 56, 7, 'steve')

In [101]:
str(l7)

"[3, 4, 56, 7, 'steve']"

In [102]:
str(t)

"(3, 4, 56, 7, 'steve')"

# Dictionary

In [103]:
d = {}

In [104]:
type(d)

dict

In [105]:
d1={1}
type(d1)

set

In [106]:
d2={"key 1":"value 1","key 2":"value 2"}

In [111]:
d3={"key 1":"value 1","key 2":"value 2", "key3":123}

In [112]:
d3["key3"]

123

In [113]:
d2["key 1"]

'value 1'

In [114]:
d4={'name':'Steve','tech':['Python','ML','DL'],'age':45}

In [115]:
d4['tech']

['Python', 'ML', 'DL']

In [116]:
'Python' in d4['tech']

True

In [117]:
d5={"name":'iNeuron','contact_info':3456, 'name':'Steve'}

In [118]:
d5

{'name': 'Steve', 'contact_info': 3456}

In [119]:
d5["k1"]="xyz"

In [120]:
d5

{'name': 'Steve', 'contact_info': 3456, 'k1': 'xyz'}

In [123]:
d5['k2']=d4

In [124]:
d5

{'name': 'Steve',
 'contact_info': 3456,
 'k1': 'xyz',
 'k2': {'name': 'Steve', 'tech': ['Python', 'ML', 'DL'], 'age': 45}}

In [125]:
d5['k2']['age']

45

In [126]:
d6={@:"val"}

SyntaxError: invalid syntax (<ipython-input-126-3c00501a155a>, line 1)

In [127]:
d6={_:"text"}

In [128]:
type(d6)

dict

In [130]:
d6[_ste:"text"]

NameError: name '_ste' is not defined

In [132]:
d6={(1,2,3):"text"}

In [133]:
d6={[1,2,3]:"text"}

TypeError: unhashable type: 'list'

In [134]:
d6={{1,2,3}:"text"}

TypeError: unhashable type: 'set'

In [135]:
d2

{'key 1': 'value 1', 'key 2': 'value 2'}

In [136]:
d2+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [137]:

d2.keys()

dict_keys(['key 1', 'key 2'])

In [138]:
d2.values()

dict_values(['value 1', 'value 2'])

In [139]:
d2.items()

dict_items([('key 1', 'value 1'), ('key 2', 'value 2')])

In [140]:
d5.items()

dict_items([('name', 'Steve'), ('contact_info', 3456), ('k1', 'xyz'), ('k2', {'name': 'Steve', 'tech': ['Python', 'ML', 'DL'], 'age': 45})])

# Set

In [141]:
s1={3,4,4,5,6,6,6,7,7,8,8,9,9,0,0,0}
s1

{0, 3, 4, 5, 6, 7, 8, 9}

In [142]:
type(s1)

set

In [143]:
s2={"steve",324,34,12,645,12,5,'n','6'}

In [144]:
s2

{12, 324, 34, 5, '6', 645, 'n', 'steve'}

In [147]:
s2[0]

TypeError: 'set' object is not subscriptable

In [148]:
list(s2)[3]

645

In [149]:
l=[2,3,4,43454,7,7,7,7,77,77,7,7,7,7,7,7,2]
list(set(l))

[2, 3, 4, 7, 77, 43454]

In [150]:
s2.add(34)

In [151]:
s2

{12, 324, 34, 5, '6', 645, 'n', 'steve'}

In [152]:
s2.add([1,2,3])

TypeError: unhashable type: 'list'

In [153]:
s={(1,2,3,4,5),3,4,5,6}

In [154]:
s.remove(3)

In [155]:
s

{(1, 2, 3, 4, 5), 4, 5, 6}

In [156]:
s.discard(4)

In [157]:
s.remove(1231321)

KeyError: 1231321

In [158]:
s.discard(123123)