**Name** - Stephen Mathew
**Date** - 2020-05-30
**Description** - Python Basics Problems

Q1. Produce the output.

In [1]:
s = "ineuron"

for i in range(4):
	print((s+" ")*(i+1))

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

Q2. Produce the output.

In [9]:
s = "ineuron"

for i in range(3):
	print("\t"*(2-i),end="")
	print((s+"\t\t")*(i+1))
for i in range(1,-1,-1):
	print("\t"*(2-i),end="")
	print((s+"\t\t")*(i+1))

		ineuron
	ineuron		ineuron
ineuron		ineuron		ineuron
	ineuron		ineuron
		ineuron

Q3. Extract all lists

In [10]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i)==list:
		print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

Q4. Extract all dictionaries

In [11]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i)==dict:
		print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

Q5. Extract all tuples

In [12]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i)==tuple:
		print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

Q6. Extract all numeric data, even from dictionaries

In [16]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i)==list or type(i)==tuple:
		for j in i:
			if(type(j)==int):
				print(j)
	if type(i)==dict:
		for j,k in i.items():
			if type(j)==int:
				print(j)
			if type(k)==int:
				print(k)
	if type(i)==set:
		for j in i:
			if type(j)==int:
				print(j)
	if type(i) not in [list,tuple,dict,set]:
		if type(j)==int:
			print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

Q6. Sum up all the numeric data

In [17]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
sum=0
for i in l:
	if type(i)==list or type(i)==tuple:
		for j in i:
			if(type(j)==int):
				sum+=j
	if type(i)==dict:
		for j,k in i.items():
			if type(j)==int:
				sum+=j
			if type(k)==int:
				sum+=k
	if type(i)==set:
		for j in i:
			if type(j)==int:
				sum+=j
	if type(i) not in [list,tuple,dict,set]:
		if type(j)==int:
			sum+=j
print(sum)

156

Q8. Filter out all the odd values out all numeric data which is a part of a list

In [18]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
sum=0
l1=[]
for i in l:
	if type(i)==list or type(i)==tuple:
		for j in i:
			if(type(j)==int) and j%2==1:
				l1.append(j)
	if type(i)==dict:
		for j,k in i.items():
			if type(j)==int and j%2==1:
				l1.append(j)
			if type(k)==int and j%2==1:
				l1.append(k)
	if type(i)==set:
		for j in i:
			if type(j)==int and j%2==1:
				l1.append(j)
	if type(i) not in [list,tuple,dict,set]:
		if type(j)==int and j%2==1:
			l1.append(j)
print(l1)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 6, 7, 8]

Q9. Extract "ineuron" out of this data

In [19]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i)==list or type(i)==tuple or type(i)==set:
		for j in i:
			if j=="ineuron":
				print(j)
	if type(i)==dict:
		for j,k in i.items():
			if j=="ineuron":
				print(j)
			if k=="ineuron":
				print(k)
	if type(i) not in [list,tuple,dict,set]:
		if j=="ineuron":
			print(j)

ineuron
ineuron

Q10. find out a number of occurances of all the data

In [30]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
l2=[]
for i in l:
	if type(i) in [list,tuple,set]:
		for j in i:
			l2.append(j)
	if type(i)==dict:
		for j,k in i.items():
			l2.append(j)
			l2.append(k)
	if type(i) not in [list,tuple,dict,set]:
		l2.append(i)
for i in l2:
	if i in set(l2):
		print(i,l2.count(i))

1 1
2 2
3 4
4 4
2 2
3 4
4 4
5 3
6 3
3 4
4 4
5 3
6 3
7 2
45 1
4 4
5 3
23 1
k1 1
sudh 1
k2 1
ineuron 2
k3 1
kumar 1
3 4
6 3
7 2
8 1
ineuron 2
data science 1

Q11. find out number of keys in dict element

In [21]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
key_count=0
for i in l:
	if type(i)==dict:
		key_count+=len(i)
print(key_count)

5

Q12.  filter out all the string data

In [23]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i) in [list,tuple,set]:
		for j in i:
			if type(j)==str:
				print(j)
	if type(i)==dict:
		for j,k in i.items():
			if type(j)==str:
				print(j)
			if type(k)==str:
				print(k)
	if type(i) not in [list,tuple,dict,set]:
		if type(j)==str:
			print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

Q13. Find  out alphanum in data

In [26]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

for i in l:
	if type(i) in [list,tuple,set]:
		for j in i:
			if type(j)==str and j.isalnum():
				print(j)
	if type(i)==dict:
		for j,k in i.items():
			if type(j)==str and j.isalnum():
				print(j)
			if type(k)==str and k.isalnum():
				print(k)
	if type(i) not in [list,tuple,dict,set]:
		if type(j)==str and j.isalnum():
			print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron

Q14. find out multiplication of all numeric value in  the individual collection inside dataset

In [32]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
product=1
for i in l:
	if type(i)==list or type(i)==tuple:
		for j in i:
			if(type(j)==int):
				product*=j
	if type(i)==dict:
		for j,k in i.items():
			if type(j)==int:
				product*=j
			if type(k)==int:
				product*=k
	if type(i)==set:
		for j in i:
			if type(j)==int:
				product*=j
	if type(i) not in [list,tuple,dict,set]:
		if type(j)==int:
			product*=j
print(product)

908605071360000

Q15. Unwrap all the collection inside collection and create a flat list

In [27]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
l2=[]
for i in l:
	if type(i) in [list,tuple,set]:
		for j in i:
			l2.append(j)
	if type(i)==dict:
		for j,k in i.items():
			l2.append(j)
			l2.append(k)
	if type(i) not in [list,tuple,dict,set]:
		l2.append(i)
print(l2)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']