In [1]:
import pandas as pd

In [15]:
dfSSOrders = pd.read_excel('Superstore_Usa.xlsx',sheet_name='Orders')
dfSSReturns = pd.read_excel('Superstore_Usa.xlsx',sheet_name='Returns')
dfSSUsers = pd.read_excel('Superstore_Usa.xlsx',sheet_name='Users')

### Analysis of Orders

In [13]:
dfSSOrders.head(10)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,...,West,Washington,Anacortes,98221,2013-07-01,2013-07-08,1001.4453,12,1451.37,88526
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.3665,12,6362.85,90193
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,...,West,California,San Gabriel,91776,2012-05-12,2012-05-21,-141.2600,18,113.25,90197
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,West,California,San Jose,95123,2011-05-26,2011-05-26,1045.4673,16,1515.17,90194

In [12]:
dfSSOrders.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [11]:
dfSSOrders.shape

(9426, 24)

### Analysis of Returns

In [16]:
dfSSReturns.head(10)

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned
5       740  Returned
6       775  Returned
7       833  Returned
8       902  Returned
9      3300  Returned

In [17]:
dfSSReturns.dtypes

Order ID     int64
Status      object
dtype: object

In [18]:
dfSSReturns.shape

(1634, 2)

### Analysis of Users

In [19]:
dfSSUsers.head(10)

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [20]:
dfSSUsers.dtypes

Region     object
Manager    object
dtype: object

In [21]:
dfSSUsers.shape

(4, 2)

Q1 . load this data in sql and in pandas with a relation in sql

Q2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table

Q3 . Find out how return that we ahve recived and with a product id

Q4 . try  to join order and return data both in sql and pandas

Q5 . Try to find out how many unique customer that we have

Q6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

Q7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

Q8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

Q9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

Q10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well

Q11 . Gorup by region and find out which region is more profitable

Q12 . Try to find out overalll in which country we are giving more didscount

Q13 . Give me a list of unique postal code

Q14 . which customer segement is more profitalble find it out .


Q15 . try to find out the 10th most loss making product catagory .

Q16 . Try to find out 10 top  product with highest margins