In [1]:
# !pip install csvkit

Defaulting to user installation because normal site-packages is not writeable

  WARNING: The scripts csvclean.exe, csvcut.exe, csvformat.exe, csvgrep.exe, csvjoin.exe, csvjson.exe, csvlook.exe, csvpy.exe, csvsort.exe, csvsql.exe, csvstack.exe, csvstat.exe, in2csv.exe and sql2csv.exe are installed in 'C:\Users\evens\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Collecting csvkit
  Downloading csvkit-1.0.7-py2.py3-none-any.whl (42 kB)
Collecting agate-dbf>=0.2.2
  Downloading agate_dbf-0.2.2-py2.py3-none-any.whl (3.5 kB)
Collecting agate-sql>=0.5.3
  Downloading agate_sql-0.5.8-py2.py3-none-any.whl (7.1 kB)
Collecting agate>=1.6.1
  Downloading agate-1.6.3-py2.py3-none-any.whl (100 kB)
Requirement already satisfied: six>=1.6.1 in c:\programdata\anaconda3\lib\site-packages (from csvkit) (1.16.0)
Collecting agate-excel>=0.2.2
  Downloading agate_excel-0.2.5-py2.py3-none-any.whl (7.1 kB)
Collecting parsedatetime!=2.5,!=2.6,>=2.1
  Downloading parsedatetime-2.4.tar.gz (58 kB)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
Requirement already satisfied: python-slugify>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (5.0.2)
Collecting pytimeparse>=1.1.5
  Downloading pytimeparse-1.1.8-py2.py3-none-any.whl (10.0 kB)
Collecting leather>=0.3.2
  Downloading leather-0.3.4-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: Babel>=2.0 in c:\programdata\anaconda3\lib\site-packages (from agate>=1.6.1->csvkit) (2.9.1)
Collecting dbfread>=2.0.5
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: xlrd>=0.9.4 in c:\programdata\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (2.0.1)
Requirement already satisfied: openpyxl>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (3.0.9)
Requirement already satisfied: olefile in c:\programdata\anaconda3\lib\site-packages (from agate-excel>=0.2.2->csvkit) (0.46)
Requirement already satisfied: sqlalchemy>=1.0.8 in c:\programdata\anaconda3\lib\site-packages (from agate-sql>=0.5.3->csvkit) (1.4.32)
Requirement already satisfied: pytz>=2015.7 in c:\programdata\anaconda3\lib\site-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2021.3)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: future in c:\programdata\anaconda3\lib\site-packages (from parsedatetime!=2.5,!=2.6,>=2.1->agate>=1.6.1->csvkit) (0.18.2)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (1.1.1)
Building wheels for collected packages: parsedatetime
  Building wheel for parsedatetime (setup.py): started
  Building wheel for parsedatetime (setup.py): finished with status 'done'
  Created wheel for parsedatetime: filename=parsedatetime-2.4-py3-none-any.whl size=42773 sha256=ff3508a5e86846abff5a4c028742210fef7a8729d86c45b2eeedadd8cbce53fa
  Stored in directory: c:\users\evens\appdata\local\pip\cache\wheels\92\80\ea\12d7c2c45f3ad765ee4cc505a22d5af2d1cc5defb0f4c0552b
Successfully built parsedatetime
Installing collected packages: pytimeparse, parsedatetime, leather, isodate, dbfread, agate, agate-sql, agate-excel, agate-dbf, csvkit
Successfully installed agate-1.6.3 agate-dbf-0.2.2 agate-excel-0.2.5 agate-sql-0.5.8 csvkit-1.0.7 dbfread-2.0.7 isodate-0.6.1 leather-0.3.4 parsedatetime-2.4 pytimeparse-1.1.8

In [1]:
# !C:\ProgramData\Anaconda3\python.exe -m pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\users\evens\appdata\roaming\python\python39\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\evens\appdata\roaming\python\python39\site-packages (from pymongo[srv]) (2.2.1)

In [5]:
# !pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.2.0-cp39-cp39-win_amd64.whl (374 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0

In [1]:
import pandas as pd
import mysql.connector as conn
from pymongo import MongoClient
import urllib.parse
import csvkit
import json

Q1. Read this dataset in pandas , mysql and mongodb

In [2]:
def mongoimport(csv_path, db_name, coll_name, db_url='localhost', db_port=27000):
    """ Imports a csv file at path csv_name to a mongo colection
    returns: count of the documents in the new collection
    """
    client = MongoClient(db_url, db_port)
    db = client[db_name]
    coll = db[coll_name]
    data = pd.read_csv(csv_path)
    payload = json.loads(data.to_json(orient='records'))
    coll.insert_many(payload)

In [3]:

mongo_uri = "mongodb+srv://steve:" + urllib.parse.quote("Steve@123") + "@clustersteve.j5khq.mongodb.net/?retryWrites=true&w=majority"
db_name = 'FitbitData'
csv_path = 'FitBitdata.csv'
coll_name = 'FitbitData1'
mongoimport(csv_path,db_name,coll_name,mongo_uri)

In [7]:
# data = pd.read_csv(csv_path)
# payload = json.loads(data.to_json(orient='records'))

In [8]:
# type(payload)

list

In [4]:
dfFitbit = pd.read_csv('Fitbitdata.csv')

In [5]:
dfFitbit.head(5)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

Q3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [6]:
dfFitbit.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [7]:
dfFitbit['ActivityDate']=pd.to_datetime(dfFitbit['ActivityDate'])

In [8]:
dfFitbit.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [9]:
dfFitbit.head(5)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

Q4 . Find out in this data that how many unique id's we have

In [10]:
len(pd.unique(dfFitbit['Id']))

35

Q5 . which id is one of the active id that you have in whole dataset

In [36]:

(
    dfFitbit.groupby(['Id'],as_index=False)[['TotalSteps']]
    .sum(['TotalSteps'])
    .sort_values('TotalSteps',ascending=False)
    .head(1)
)

           Id  TotalSteps
0  1503960366      221170

Q6 . how many of them have not logged there activity find out in terms of number of ids

In [17]:
(
    len(pd.unique(dfFitbit.loc[dfFitbit['TotalSteps']==0,'Id']))
)

14

Q7 . Find out who is the laziest person id that we have in dataset

In [35]:
(
    dfFitbit.loc[dfFitbit['TotalSteps']==0]
    .groupby(['Id'],as_index=False)
    .size()
#     .sort_values(by='size',ascending=False)
    .max()
)

Id      8253242879
size            13
dtype: int64

Q8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [41]:
# Assuming 2500 calories per day

(
    len(pd.unique(dfFitbit.loc[dfFitbit['Calories']>=2500,'Id']))
)

17

Q9. how many person are not a regular person with respect to activity try to find out those

In [62]:
# Assuming per week, 3 days a person should be active or 12 days per month

dfNoActivity= (
    dfFitbit.loc[dfFitbit['TotalSteps']==0]
    .groupby(['Id'],as_index=False)
    .size()
)

len(dfNoActivity[dfNoActivity['size']>=12])

# pd.DataFrame(pd.unique(dfFitbit['ActivityDate'])).sort_values(by=0)

1

Q10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [72]:
dfActivePersons = (
    dfFitbit.groupby(['Id'],as_index=False)[['TotalSteps']]
    .sum(['TotalSteps'])
    .sort_values('TotalSteps',ascending=False)
    .reset_index()
)

dfActivePersons.iloc[2,1:]

Id            4020332650
TotalSteps        184851
Name: 2, dtype: int64

Q11 . who is the 5th most laziest person avilable in dataset find it out

In [79]:
dfNoActivityNewIndex = (
    dfNoActivity
    .sort_values(by='size',ascending=False)
    .reset_index()
)
dfNoActivityNewIndex.iloc[4,1]

6391747486

Q12 . what is a totla acumulative calories burn for a person find out

In [80]:
(
    dfFitbit
    .groupby(['Id'],as_index=False)[['Calories']]
    .sum(['Calories'])
)

            Id  Calories
0   1503960366     34128
1   1624580081     25705
2   1644430081     29164
3   1844505072     19391
4   1927972279     27048
5   2022484408     29704
6   2026352035     16266
7   2320127002     18385
8   2347167796     30320
9   2873212765     20349
10  2891001357     18187
11  3372868164     18603
12  3977333714     16777
13  4020332650     98412
14  4057192912     60913
15  4319703577     23931
16  4388161847     14442
17  4445114986     31617
18  4558609924     21962
19  4702921684     42322
20  5553957443     21630
21  5577150313     36303
22  6117666160     20993
23  6290855005     21656
24  6391747486     15868
25  6775888955     24523
26  6962181067     29249
27  7007744171     31525
28  7086361926     26124
29  8053475328     31825
30  8253242879     17556
31  8378563200     40274
32  8583815059     19130
33  8792009665     24884
34  8877689391     41414