In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('..\drive-download-20220804T135158Z-001\Attribute DataSet.xlsx')

# Use sheet_name attribute in read_excel() to refer a different sheet and not the first one.

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [5]:
df.tail(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [6]:
df1 = pd.read_csv('..\drive-download-20220804T135158Z-001\haberman.csv', header=None, names = ['Age','Year of Operation','No.of positive','Survival status'])

In [7]:
df1

     Age  Year of Operation  No.of positive  Survival status
0     30                 64               1                1
1     30                 62               3                1
2     30                 65               0                1
3     31                 59               2                1
4     31                 65               4                1
..   ...                ...             ...              ...
301   75                 62               1                1
302   76                 67               0                1
303   77                 65               3                1
304   78                 65               1                2
305   83                 58               2                2

[306 rows x 4 columns]

In [9]:
df2 = pd.read_csv('..\drive-download-20220804T135158Z-001\test.csv')

OSError: [Errno 22] Invalid argument: '..\\drive-download-20220804T135158Z-001\test.csv'

In [10]:
pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv")

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [13]:
pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BCF.csv")

In [17]:
list_nba = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2021_totals.html")

In [18]:
type(list_nba)

list

In [19]:
df_nba = list_nba[0]

In [20]:
type(df_nba)

pandas.core.frame.DataFrame

In [21]:
df_nba.head(2)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,...,.509,73,135,208,29,20,28,43,91,304
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,...,NaN,0,3,3,2,0,0,0,1,2

In [23]:
df_js=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

In [24]:
type(df_js)

pandas.core.frame.DataFrame

In [26]:
df_js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [27]:
df_js['user']

0     {'login': 'twoertwein', 'id': 6618166, 'node_i...
1     {'login': 'simonjayhawkins', 'id': 13159005, '...
2     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
3     {'login': 'bollard', 'id': 358225, 'node_id': ...
4     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
5     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
6     {'login': 'datapythonista', 'id': 10058240, 'n...
7     {'login': 'Th3nn3ss', 'id': 25160953, 'node_id...
8     {'login': 'JeffersonQin', 'id': 30655701, 'nod...
9     {'login': 'Mehgarg', 'id': 65103188, 'node_id'...
10    {'login': 'jreback', 'id': 953992, 'node_id': ...
11    {'login': 'colomb8', 'id': 71855882, 'node_id'...
12    {'login': 'phofl', 'id': 61934744, 'node_id': ...
13    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
14    {'login': 'tpackard1', 'id': 46908522, 'node_i...
15    {'login': 'SomtochiUmeh', 'id': 74836691, 'nod...
16    {'login': 'nsarang', 'id': 25885841, 'node_id'...
17    {'login': 'galipremsagar', 'id': 11664259, 'no...
18    {'login': 'henrykwong', 'id': 20166805, 'node_...
19    {'login': 'btodac', 'id': 45459748, 'node_id':...
20    {'login': 'shourya5', 'id': 73142986, 'node_id...
21    {'login': 'fangchenli', 'id': 7614606, 'node_i...
22    {'login': 'hawkinsp', 'id': 348932, 'node_id':...
23    {'login': 'jbrockmendel', 'id': 8078968, 'node...
24    {'login': 'simonjayhawkins', 'id': 13159005, '...
25    {'login': 'jbrockmendel', 'id': 8078968, 'node...
26    {'login': 'logankilpatrick', 'id': 35577566, '...
27    {'login': 'PMLP-novo', 'id': 54025656, 'node_i...
28    {'login': 'joshuabello2550', 'id': 43732414, '...
29    {'login': 'kapiliyer', 'id': 90269125, 'node_i...
Name: user, dtype: object

In [28]:
df_nba.to_json("nbs.json")

In [29]:
df_nba.to_csv("nba.csv")

In [30]:
df_nba.to_csv("nba#.csv",sep="#")

In [31]:
df_nba.to_csv("nba_noindex.csv",index=False)