### Stephen Mathew
### Task - 05-Jun-2022
### Date - 06-Jun-2022

Q1. print a prime number in between 1 to 1000

In [4]:

prime = [2]
for i in range(3,1000,2):
	for j in prime:
		if i%j==0:
			break
	else:
		prime.append(i)

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

Q2. write a function which  is equivalent  to print function in python

Q3. write a function which is a replica of list append , extend and pop function

In [39]:
def extend_userdef(l1, l2):	
	for i in l2:
		l1+=[i]
	return l1

def append_userdef(l1, l2):
	return l1+[l2] 

l1=['steve','matt','person']
l2=['abc','def']
# l2='abc'

# l1.append(l2)
# l1=append_userdef(l1,l2)
l1.extend(l2)
# l1=extend_userdef(l1,l2)
print(l1)

['steve', 'matt', 'person', 'abc', 'def']

Q4. write a lambda function which can return a concatenation of all the string that we will pass

In [7]:
con= lambda *s: ' '.join(s)

con("steve","matt")

'steve matt'

Q5. write a lambda function which can return list of square of all the data between 1-100

In [9]:
square = lambda x : [i**2 for i in range(1,x)]

square(100)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

Q6. write a 10 Different different example of lambda function with a choice of your tasks

In [12]:
# 1. adding numbers
addition = lambda *x : sum(x)

addition(10,20,30)

# 2. printing a string 
print_string = lambda s: print(s)

print_string("stephen")

# 3. Lambdas and regular functions
def reg_fun01(funct, *args):
	funct(*args)

def reg_fun02(arg):
	return print(arg)

def reg_fun03(arg):
	print(arg)

reg_fun01(reg_fun02, "stephen 02")
reg_fun01(reg_fun03, "stephen 03")

reg_fun01(lambda: reg_fun02('lambda stephen 02'))
reg_fun01(lambda: reg_fun03('lambda stephen 03'))

# 4. IIFE for addition
(lambda *x: sum(x))(10,20,30)

#. 5. IIFE for string printing 
(lambda s: print(s))("stephen")

#. 6. Lambda with filter 
full_list = list(range(10,1,-1))
filtered_list = filter(lambda x: x%2==0, full_list)

print(list(filtered_list))

# 7. Lambda with map
full_list = list(range(10,1,-1))
mapped_list = map(lambda x: x**2, full_list)
print(list(mapped_list))

# 8. Lambda with reduce
from functools import reduce
full_list = list(range(10,1,-1))
product = reduce(lambda x,y: x*y, full_list)
print(product)

# 9. Concatenation of strings
reverse = lambda *s: [i[::-1] for i in s]
print(reverse(["steve","matt"]))

stephen
stephen 02
stephen 03
lambda stephen 02
lambda stephen 03
stephen
[10, 8, 6, 4, 2]
[100, 81, 64, 49, 36, 25, 16, 9, 4]
3628800
[['matt', 'steve']]

In [13]:
"steve"[::-1]

'evets'

Q7. write a funtion whihc can perform a read operation from .txt file

In [10]:
with open('sample.txt') as f:
	print(f.readlines())

['This is a sample text file\n', 'This is the second line of the text file']