# 2022-May-28

## Python basics - Loops

In [2]:

l = [1,2,3,4,"sudh", "kumar",45.56,True]

In [4]:
for i in l:
	print(i)

1
2
3
4
sudh
kumar
45.56
True

In [5]:
s="sudh"
for i in s:
	print(i)

s
u
d
h

In [6]:
for i in l:
	print(i)
else: 
	print("executed when for loop executes by itself")

1
2
3
4
sudh
kumar
45.56
True
executed when for loop executes by itself

In [7]:
for i in l:
	print(i)
	if i==4:
		break	
else: 
	print("executed when for loop executes by itself")

1
2
3
4

In [8]:
s="stephen"
for i in s:
	if i=="h":
		break
	print(i)
else:
	print('print string',s)

s
t
e
p

In [9]:
s="stepmen"
for i in s:
	if i=="h":
		break
	print(i)
else:
	print('print string',s)

s
t
e
p
m
e
n
print string stepmen

In [10]:
 t = (1,2,3,4,5,6,7,8,9,"stephen")
for i in t:
	print(i)

1
2
3
4
5
6
7
8
9
stephen

In [12]:
s={9,2,3,7,7,7,8,9,"stephen"}
for i in s:
	print(i)

2
3
7
8
9
stephen

In [15]:
d = {"name":"stephen","age":45,"city":"bangalore"}
for i in d.keys():
	print(d[i])

stephen
45
bangalore

In [14]:
for i in d:
	print(i)

name
age
city

In [16]:
for i in d:
	print(d[i])

stephen
45
bangalore

In [17]:
range(9)

range(0, 9)

In [18]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
for i in range(9):
	print(i)

0
1
2
3
4
5
6
7
8

In [21]:
list(range(1,9,2))

[1, 3, 5, 7]

In [22]:
list(range(0,9,-1))

[]

In [24]:
s="sudh "
for i in range(1,5):
	print(s*i)

sudh
sudh sudh
sudh sudh sudh
sudh sudh sudh sudh

In [30]:
n = 4
for i in range(4):
	for j in range(0,i+1):
		print("sudh",end=" ")
	print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [35]:
n = 3
tab = "\t"
for i in range(3,0,-1):
	print(tab*(i-1),end="")
	print("sudh\t\t"*(n-i+1))

		sudh
	sudh		sudh
sudh		sudh		sudh

In [36]:
n = 3
tab = "\t"
for i in range(3,0,-1):
	print(tab*(i-1))
	print("sudh\t\t"*(n-i+1))

sudh

sudh		sudh

sudh		sudh		sudh

In [38]:
t = (3,23,45,67,2,4,5,6)
for i in range(len(t)):
	print(i,":",t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [39]:
s = "ineuron"
for i in range(len(s)):
	print(i,":",s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [44]:
s = "ineuron"
for i in range(len(s)-1,-1,-1):
	print(i,":",s[i])

6 : n
5 : o
4 : r
3 : u
2 : e
1 : n
0 : i

In [48]:
for i in d.items():
	print(i,type(i[1]))

('name', 'stephen') <class 'str'>
('age', 45) <class 'int'>
('city', 'bangalore') <class 'str'>

In [50]:
l = ["sudh","kumar",323232,"suds@ineuron.ai",345,232131]
l2=[]
for i in l:
	if type(i)==int:
		l2.append(i)	
l2

[323232, 345, 232131]

In [54]:
d={1:34324324,"name":"sudh","email_id":"stephen@iend.ai",234:"ddfsd","43":"fsdfsd",234:"3454"}

for i in d:
	if type(i)==int:
		print(i,d[i])

1 34324324
234 3454

In [58]:
s="aaaabbccd"
for i in set(s):
	print(i ,":",s.count(i))

d : 1
c : 2
a : 4
b : 2

In [61]:
i = 343435453232
for j in str(i):
	print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
3 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
2 <class 'int'>
3 <class 'int'>
2 <class 'int'>

In [2]:
t=("sudh","kumar",[1,2,3,4,5],(3,4,5,6),{"key1":"sudh",3:3,4:3})

for i in t:
	if type(i)==list or type(i)==tuple:
		for j in i:
			if j==3:
				print("found list or tuple")
	if type(i)==dict:
		for k,v in i.items():
			# print(k,v)
			if k==3:
				print("found dict key")
			if v==3:
				print("found dict value")
	print(type(i))

<class 'str'>
<class 'str'>
found list or tuple
<class 'list'>
found list or tuple
<class 'tuple'>
found dict key
found dict value
found dict value
<class 'dict'>

In [75]:
a = 10
b = 20
c = 30

a, b, c = 10, 20, 30

a, b, c = (10, 20, 30)